:root{
    --special: #63492e;
    --hover: #63503b;
    --background: #e6c8a8;
    --design: #e0a668;
    --other: #ad8050;
    --text: #323232;
}
body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/*header stuff */
header{
    background-color: var(--background);
    padding: 1rem 2vw;
}
header h1{
    margin: 0;
    color: var(--text);
    font-weight: 200;
}
header p{
    color: var(--text);
    letter-spacing: .5px;
}

/*nav stuff*/
nav{
    background-color: var(--design);
}

nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a{
    font-size: 3rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--text);
    display: block;
    padding: 1vw 2vw;
}

nav li.active a{
    background-color: var(--text);
    color: var(--design)
}

nav a:hover{
    color: var(--other);
}

/*main stuff*/
main{
    padding: 0 2vw;
}
main h1{
    color: var(--special);
    font-weight: 200;
}

main h2{
    color: var(--hover);
    margin-bottom: .2rem;
    font-weight: 200;
}

main p{
    color: var(--text);
    margin: 0 0 .3rem 0;
}

main ol{
    padding: .5rem 3vw;
    margin: 1rem 0;
    background-color: var(--background);
}

main ol li{
    color: var(--text);
}

main dl {
    color: var(--special);
    font-weight: 700;
    margin: 1rem 0;
}

main dd{
    color: var(--hover);
    font-size: .9rem;
    padding: 0 1rem;
}

main ul{
    list-style-type: circle;
}

main ul li{
    line-height: 125%;
    margin-bottom: .5rem;
    padding: 0;
    font-size: .9rem;

}

main address{
    font-style: normal;
    background-color: var(--background);
    padding: .5rem;
    width: 12.5rem;
    border-radius: 5px;
    border: 1px solid var(--special);
}

main a{
    color: var(--special);
    text-decoration: none;
}

main a:hover{
    color: var(--design);
}

#eating_breakfast{
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}

#eating_breakfast img{
    width: 100%;
    height: auto;
}

#eating_breakfast figcaption{
    text-align: center;
    font-size: .75rem;
    font-style: italic;
}

div.gallery{
display: flex;
flex-wrap: wrap;
}

div.gallery figure{
    margin: .5rem 2% 0 0;
}

div.gallery figcaption{
    text-align: center;
    font-size: .8rem;
    color: var(--text);
}

/*footer*/
footer{
    background-color: var(--background);
    text-align: center;
    color: var(--text);
    padding: 1rem 0;
    font-size: .8rem;
    clear: both;
}

footer a{
    color: var(--text);
}